.closing-container {
  color: #5b3d2c;
  margin: 72px auto;
  width: 70%;
}

.closing-container hr {
  border: 3px solid;
  border-radius: 10px;
}

.closing-surah {
  margin: 60px 0;
  font-family: Poppins;
  font-size: 24px;
  line-height: 100px;
}

.cl-last-container {
  margin: 72px 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 40px;
}

.cl-last-container p {
  font-family: Playfair Display;
  font-size: 72px;
  line-height: 120px;
}

@media screen and (max-width: 600px) {
  .closing-container {
    width: 85%;
  }

  .closing-surah {
    margin: 30px 0;
    font-size: 14px;
    line-height: 30px;
  }

  .cl-last-container {
    grid-template-columns: 1fr;
    row-gap: 40px;
  }

  .cl-last-container p {
    font-size: 24px;
    line-height: 30px;
  }
}
